body {
  background-color: #202028;
  color: #f8f8ff;
}

.App {
  text-align: center;
  font-size: 1em;
}

.App_logo {
  width: min(95%, 400px);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App_App_refreashButton {

}

.App_buttonContainer {
  margin: 1em;
  width: calc(100% - 2em);
  display: flex;
  justify-content: center;
}

button {
  background-color: #f8f8ff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin-right: 1em;
}

button:hover {
  background-color: #fCfCff;
}

button:active {
  background-color: #e0e0e4;
}
