.ListItem {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.ListItem-name {
  order: 1;
  padding: 0.2em;
  font-size: 1.2em;
  font-weight: bold;
}


.ListItem-ratingContainer {
  order: 2;
  display: flex;
}

.ListItem-rating-google {
  order: 1
}

.ListItem-rating-user {
  order: 2
}

.ListItem-rating {
  padding: 0.2em;
  border-radius: 0.2em;
  background-color: #404048;
  color: #f8f8ff;
  margin: 0.2em;
}

.ListItem-rating_Squishy {
  background-color: #E83030;
}

.ListItem-rating_Packed {
  background-color: #F0A030;
}

.ListItem-rating_Moderate {
  background-color: #F0D020;
}

.ListItem-rating_Sparse {
  background-color: #30E030;
}

.ListItem-rating_Lonely {
  background-color: #30B0F0;
}
