.ListItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: solid 1px #f8f8ff;
  border-bottom: solid 1px #f8f8ff;
}

.ListItem-name {
  order: 1;
  padding: 0.2em;
  font-size: 1.2em;
  font-weight: bold;
}


.ListItem-ratingContainer {
  order: 2;
  display: grid;
  grid-template-areas: "google user";
  grid-template-columns: 50% 50%;
}

.ListItem-rating-google {
  grid-area: google;
}

.ListItem-rating-user {
  grid-area: user;
}

.ListItem-rating {
  padding: 0.2em;
  border-radius: 0.2em;
  background-color: #404048;
  color: #f8f8ff;
  margin: 0.2em;
}

.ListItem-rating_Squishy {
  background-color: #E88030;
}

.ListItem-rating_Crowded {
  background-color: #F02020;
}

.ListItem-rating_Moderate {
  background-color: #F0A030;
}

.ListItem-rating_Sparse {
  background-color: #F0D020;
}

.ListItem-rating_Quiet {
  background-color: #30E030;
}

.ListItem-rating_Lonely {
  background-color: #30B0F0;
}
